# 数据采集（七）：爬虫数据保存之文件、Mysql、MongoDB

## 文件类型保存

#### 1.保存HTML文件

In [2]:
import urllib.request
url='https://blog.csdn.net/'
header={
   'User-Agent':'Mozilla/5.0 (X11; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
}
request=urllib.request.Request(url,headers=header)
reponse=urllib.request.urlopen(request).read()

fhandle=open("csdn.html","wb")
fhandle.write(reponse)
fhandle.close()

#### 2.保存JSON文件

In [11]:
urls = ['http//www.cyzone.cn/company/480955.html','http//www.cyzone.cn/company/480954.html']        #详情页
companies = ['MyTaiwanTour','Stilla Technologies']   #公司名称
money = ['150万美元','1800万美元']       #融资额
frounds = ['战略投资','A轮']     #融资轮次
investors = ['投资方未披露','投资方未披露']   #融资方
businesses = ['旅游','医疗健康']  #行业
update_times = ['2018-11-21','2018-11-21'] #跟新时间

In [12]:
table_dict = {'公司名称':companies,'融资金额':money,'融资轮次':frounds,'投资方':investors,'行业':businesses,'更新时间':update_times,'详情URL':urls}
# 创建数据表

In [13]:
table_dict

{'公司名称': ['MyTaiwanTour', 'Stilla Technologies'],
 '融资金额': ['150万美元', '1800万美元'],
 '融资轮次': ['战略投资', 'A轮'],
 '投资方': ['投资方未披露', '投资方未披露'],
 '行业': ['旅游', '医疗健康'],
 '更新时间': ['2018-11-21', '2018-11-21'],
 '详情URL': ['http//www.cyzone.cn/company/480955.html',
  'http//www.cyzone.cn/company/480954.html']}

In [19]:
import json

In [26]:
json_str = json.dumps(table_dict,ensure_ascii=False)
print(json_str)

{"公司名称": ["MyTaiwanTour", "Stilla Technologies"], "融资金额": ["150万美元", "1800万美元"], "融资轮次": ["战略投资", "A轮"], "投资方": ["投资方未披露", "投资方未披露"], "行业": ["旅游", "医疗健康"], "更新时间": ["2018-11-21", "2018-11-21"], "详情URL": ["http//www.cyzone.cn/company/480955.html", "http//www.cyzone.cn/company/480954.html"]}

In [25]:
with open("table_dict.json","w") as fp:
    json.dump(table_dict,ensure_ascii=False,fp=fp)

In [30]:
new_str_dict  = json.loads(json_str)
print(new_str_dict )

{'公司名称': ['MyTaiwanTour', 'Stilla Technologies'], '融资金额': ['150万美元', '1800万美元'], '融资轮次': ['战略投资', 'A轮'], '投资方': ['投资方未披露', '投资方未披露'], '行业': ['旅游', '医疗健康'], '更新时间': ['2018-11-21', '2018-11-21'], '详情URL': ['http//www.cyzone.cn/company/480955.html', 'http//www.cyzone.cn/company/480954.html']}

In [31]:
type(new_str_dict )

dict

In [32]:
with open("table_dict.json","r") as fp:
    print(json.load(fp))

{'公司名称': ['MyTaiwanTour', 'Stilla Technologies'], '融资金额': ['150万美元', '1800万美元'], '融资轮次': ['战略投资', 'A轮'], '投资方': ['投资方未披露', '投资方未披露'], '行业': ['旅游', '医疗健康'], '更新时间': ['2018-11-21', '2018-11-21'], '详情URL': ['http//www.cyzone.cn/company/480955.html', 'http//www.cyzone.cn/company/480954.html']}

#### 3.保存CSV文件

In [14]:
urls = ['http//www.cyzone.cn/company/480955.html','http//www.cyzone.cn/company/480954.html']        #详情页
companies = ['MyTaiwanTour','Stilla Technologies']   #公司名称
money = ['150万美元','1800万美元']       #融资额
frounds = ['战略投资','A轮']     #融资轮次
investors = ['投资方未披露','投资方未披露']   #融资方
businesses = ['旅游','医疗健康']  #行业
update_times = ['2018-11-21','2018-11-21'] #跟新时间

In [15]:
import pandas as pd
    
table_dict = {'公司名称':companies,'融资金额':money,'融资轮次':frounds,'投资方':investors,'行业':businesses,'更新时间':update_times,'详情URL':urls}
# 创建数据表
resultsDatas = pd.DataFrame(table_dict)

In [16]:
resultsDatas.head()

,公司名称,融资金额,融资轮次,投资方,行业,更新时间,详情URL
0,MyTaiwanTour,150万美元,战略投资,投资方未披露,旅游,2018-11-21,http//www.cyzone.cn/company/480955.html
1,Stilla Technologies,1800万美元,A轮,投资方未披露,医疗健康,2018-11-21,http//www.cyzone.cn/company/480954.html

In [17]:
resultsDatas.to_csv("resultsDatas.csv",encoding='utf-8',header=False)

## 数据库类型保存

#### 1.MySQL数据库存储

In [ ]:
import MySQLdb
con = MySQLdb.connect(host="localhost",user="root",password="123456",db='test',port=3306,charset='utf-8')

In [ ]:
cur = con.cursor()

In [ ]:
cur.execute("DROP TABLE IF EXISTS EMPLOYEE")

In [ ]:
# 创建数据表SQL语句
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cur.execute(sql)

In [ ]:
# SQL 插入语句
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
    cur.execute(sql)
    db.commit()
except:
   # 回滚
   db.rollback()

In [ ]:
# SQL 查询语句
sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > %s" % (1000)
try:
    cur.execute(sql)
    results = cur.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
        # 打印结果
        print("fname=%s,lname=%s,age=%s,sex=%s,income=%s" % \
             (fname, lname, age, sex, income ))
except:
      print("Error:获取数据失败！")

In [ ]:
# 关闭数据库连接
db.close()

#### 2.MongoDB 存储

In [60]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)

In [61]:
db = client.mydb  #连接mydb数据库，没有则自动创建

In [62]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydb')

In [63]:
doc = {"author":"鲁迅","date":"2018-01-01","book_name":"朝花夕拾"}

In [64]:
#创建books集合，即表
col = db.books

In [65]:
book_id = col.insert(doc)

d:\programdata\anaconda2\envs\py3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

In [66]:
book_id

ObjectId('5c0bb1bc9fb62a2864557dfc')

In [67]:
col.find_one()

{'_id': ObjectId('5c0bad309fb62a2864557dfa'),
 'author': '鲁迅',
 'date': '1929-01-01',
 'book_name': '朝花夕拾'}

In [68]:
col.update({"author":"鲁迅"},{"$set":{"date":"1929-01-01"}})

d:\programdata\anaconda2\envs\py3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}

In [69]:
col.find_one()

{'_id': ObjectId('5c0bad309fb62a2864557dfa'),
 'author': '鲁迅',
 'date': '1929-01-01',
 'book_name': '朝花夕拾'}